# Artifacts
art

# Continuous Integration
.github

# Docker
.dockerignore
Dockerfile
docker-compose.yaml

# Environment
*.env

# JetBrains
.idea

# Make
Makefile

# Markdown
*.md

# Secure Socket Layer
ssl

# Source control
.git
.gitignore

# Visual Studio Code
.vscode
